$content-pane-bg: #0b0c0c;
$content-pane-rgba: rgba(11,12,12, 0.7);
$text-purple: #9999ff;
$button-purple: #6868dc;
$text-purple-click: #4848b5;
$header-border: #666699;
$header-border-rgba: rgba(98,123,130, 07);