$template-bg: url(../img/common/bg-texture.jpg);


body {
    background-color: #333;
    background-image: $template-bg;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
    
    //min-height: 100vh;
}

.content-pane {
    @include container-centered;
    min-height: 94vh;
    background-color: $content-pane-bg;
    padding-bottom: 1vh;
}

.top-nav {
    padding: 25px 5% 25px 5%;


    .nav-left {
        @include breakpoint($breakpoint-med, 'width', (
                min: (
                    float: left,
                    max-width: 50%
                ),
                max: (
                    max-width: 100%,
                    text-align: center
                )
            ))

        img {
            @include breakpoint($breakpoint-med, 'width', (
                min: (
                    max-width: 80%
                ),
                max: (
                    max-width: 80%
                )
            ))
        }
    }

    .nav-right {
        @include breakpoint($breakpoint-med, 'width', (
                min: (
                    float: right,
                    max-width: 50%
                ),
                max: (
                    max-width: 100%,
                    text-align: center
                )
            ))

        .template-nav {
            height: 100%;

            @include respond-to($breakpoint-med - 1, 'max-width') {
                    margin-top: 5%;
                    text-align: center;
                }

            .nav-item {
                position: relative;
                height: 100%;
                padding: 0.75rem 0;
                margin: 0 1rem;

                @include breakpoint($breakpoint-med, 'width', (
                        min: (
                            font-size: 1.3rem
                        ),
                        max: (
                            font-size: 1.1rem
                        )
                    ))

                a {
                    @include roboto-condensed;
                    color: white;
                    text-decoration: none;
                }

                a:hover {
                    border-bottom: 2px solid white;
                }
            }

            .active > a {
                border-bottom: 2px solid white;
            }
        }
    }

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header-title {
    border-top: 2px solid $header-border;
    border-bottom: 2px solid $header-border;
}

.content {
    padding: 25px 5% 25px 5%;

    img {
        width: 100%;
        max-width: (1920px * 0.3);
    }

    .content-left {
        width: 100%;
        margin-bottom: 50px;
        
        @include breakpoint($breakpoint-med, 'width', (
                min: (
                    float: left,
                    max-width: 50%
                ),
                max: (
                    max-width: 100%,
                    text-align: center
                )
            ))

        img {
            @include breakpoint($breakpoint-med, 'width', (
                min: (
                    max-width: 80%
                ),
                max: (
                    max-width: 80%
                )
            ))
        }
    }

    .content-right {
        width: 100%;

        @include breakpoint($breakpoint-med, 'width', (
                min: (
                    float: right,
                    max-width: 50%
                ),
                max: (
                    max-width: 100%,
                    text-align: center
                )
            ))
    }
}

.footer {
    @include container-centered;
    width: 80%;
    height: 5vh;
    text-align: center;

    background-color: $content-pane-bg;

    .social-icons {
        height: 20px;

        .icon {
            height: 100%;
            margin: 0 1rem;
            opacity: 0.6;

            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;

            img {
                max-height: 100%;
            }
        }

        .icon:hover {
            opacity: 1;
        }
    }
}