{% extends 'base.twig.html' %}

{% block title %}About{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="build/css/about.css">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block nav %}
    {% set active = 'about' %}
    {{ parent() }}
{% endblock %}

{% block header_title %}ABOUT{% endblock %}

{% block content %}
    <div class="headshot">
        <img src="build/img/headshot-01.jpg" />
    </div>
    <div class="bio">
        <p>
            Connor Ragas is an American composer from Lakeville, Massachusetts. Connor found his love and passion for music and movies at an early age. This caused Connor to seek a career in Composition for Media that married his two passions together. This began his musical career by studying the electric guitar and composition at the age of 10 studying with Chet Krolewicz. Continuing his career and studies at the The University of Rhode Island, Connor studied Classical Guitar with John Dennewitz and Music Composition with Geoffrey Gibbs and Eliane Aberdam. 
            <br /><br />
            Connor began his career in Composition for Media while attending The University of Rhode Island with rising filmmakers and alumni. Having worked on short films, short documentaries, feature documentaries, compositions for internet media, and participating in competitions for film, film scoring, and music competition, Connor keeps his eye on the future, continuing his commitment in creating new worlds of music and bringing life to all entertainment media with music. 

        </p>
    </div>
{% endblock %}