{% extends 'base.twig.html' %}

{% block title %}About{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="build/css/about.css">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block nav %}
    {% set active = 'about' %}
    {{ parent() }}
{% endblock %}

{% block header_title %}ABOUT{% endblock %}

{% block content %}
    <div class="headshot">
        <img src="build/img/headshot-01.jpg" />
    </div>
    <div class="bio">
        <p>
            Connor Ragas is a Massachusetts composer who discovered his love and passion for music and film at an early age.  He began electric guitar instruction and music composition at the age of 10, studying under Chet Krolewicz, the renowned Boston jazz guitarist.  Continuing his music studies at The University of Rhode Island, Connor studied Classical Guitar under John Dennewitz and Music Composition under Dr. Geoffrey Gibbs and Dr. Eliane Aberdam. He graduated from the University of Rhode Island in 2015.
            <br /><br />
            Connor began his career in Composition for Media while attending The University of Rhode Island composing music for local filmmakers and alumni. He has continued to compose music for short films, as well as both short and featured documentaries and has participated in local and national competitions for film, film scoring, and music composition.  Connor keeps his eye on the future, continuing his commitment to creating new worlds of music and bringing life to all entertainment media with music.

        </p>
    </div>
{% endblock %}