<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - Connor Ragas</title>
        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
        <meta name="description" content="Connor Ragas - Composer & Guitarist">
    </head>
    <body>
        <div class="remodal-bg">
            <div class="content-pane">
                <div class="top-nav">
                    <div class="nav-left">
                        <div class="cragas-logo">
                            <a href="./">
                                <img src="build/img/common/cragas-logo.png" alt="Connor Ragas - Composer and Guitarist" />
                            </a>
                        </div>
                    </div>
                    <div class="nav-right">
                        <nav class="template-nav">
                            {% block nav %}
                                <div class="nav-item {{ active is same as('about') ? 'active' : '' }}">
                                    <a href="./about"><b>ABOUT</b></a>
                                </div>
                                <div class="nav-item dropdown {{ active is same as('works') ? 'active' : '' }}">
                                    <a href="#"><b>WORKS</b></a>
                                    <div class="dropdown-content">
                                        <div class="dropdown-item">
                                            <a href="./credits"><b>CREDITS</b></a>
                                        </div>
                                        <div class="dropdown-item">
                                            <a href="./media"><b>MEDIA</b></a>
                                        </div>
                                        <div class="dropdown-item">
                                            <a href="./compositions"><b>COMPOSITIONS</b></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav-item {{ active is same as('contact') ? 'active' : '' }}">
                                    <a href="./contact"><b>CONTACT</b></a>
                                </div>
                            {% endblock %}
                        </nav>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="header-title">
                    <h1>{% block header_title %}{% endblock %}</h1>
                </div>
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="footer">
                <div class="social-icons">
                    <span class="icon">
                        <a href="https://www.facebook.com/connor.ragas/" target="_blank"><img src="build/img/icons/facebook-logo-white.png" alt="Faceboook" /></a>
                    </span>
                    <span class="icon">
                        <a href="https://www.linkedin.com/in/connor-ragas-000a21126/" target="_blank"><img src="build/img/icons/linkedin-logo-white.png" alt="LinkedIn" /></a>
                    </span>
                    <span class="icon">
                        <a href="https://www.youtube.com/channel/UCcdpUYlgASnsbfY11B0AO5A" target="_blank"><img src="build/img/icons/youtube-logo-white.png" alt="YouTube" /></a>
                    </span>
                    <span class="icon">
                        <a href="https://soundcloud.com/connor-ragas" target="_blank"><img src="build/img/icons/soundcloud-logo-white.png" alt="SoundCloud" /></a>
                    </span>
                    <span class="icon">
                        <a href="https://www.imdb.com/name/nm8885707/" target="_blank"><img src="build/img/icons/imdb-logo-white.png" alt="IMDB" /></a>
                    </span>
                </div>
            </div>
        </div>
        {% block remodal %}{% endblock %}
    </body>
</html>