<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Connor Ragas - Composer &amp; Guitarist</title>
        <link rel="stylesheet" href="build/css/main.css">
        <link rel="stylesheet" href="build/js/Remodal-1.1.1/dist/remodal.css">
        <link rel="stylesheet" href="build/js/Remodal-1.1.1/dist/remodal-default-theme.css">
        <link rel="stylesheet" href="build/js/slick-1.8.0/slick/slick.css">
        <link rel="stylesheet" href="build/js/slick-1.8.0/slick/slick-theme.css">
        <script src="build/js/jquery/jquery-3.3.1.min.js"></script>
        <script src="build/js/Remodal-1.1.1/dist/remodal.min.js"></script>
        <script src="build/js/works-data.js"></script>
        <script src="build/js/modal-handler.js"></script>
        <script src="build/js/slick-1.8.0/slick/slick.min.js"></script>
        <script src="build/js/landing.js"></script>
        <meta name="description" content="Connor Ragas - Composer & Guitarist">
    </head>
    <body>
        <div class="remodal-bg">
            <section id="landing" class="landing-hero">
                <header class="landing-header">
                    <div class="header-left">
                        <div class="cragas-logo">
                            <img src="build/img/common/cragas-logo.png" alt="Connor Ragas - Composer and Guitarist" />
                        </div>
                    </div>
                    <div class="header-right">
                        <nav class="landing-nav">
                            <div class="nav-item">
                                <a href="./about"><b>ABOUT</b></a>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#"><b>WORKS</b></a>
                                <div class="dropdown-content">
                                    <div class="dropdown-item">
                                        <a href="./credits"><b>CREDITS</b></a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a href="./media"><b>MEDIA</b></a>
                                    </div>
                                    <div class="dropdown-item">
                                        <a href="./compositions"><b>COMPOSITIONS</b></a>
                                    </div>
                                </div>
                            </div>
                            <div class="nav-item">
                                <a href="./contact"><b>CONTACT</b></a>
                            </div>
                        </nav>
                    </div>
                </header>
                <footer>
                    <div class="footer-left">
                        <div class="recent-projects">
                            <h3>RECENT PROJECTS</h3>
                            <div class="works-thumbnails">
                                {% block featured_works %}{% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="footer-right">
                        <div class="short-bio">
                            <p>
                                Connor Ragas is an American composer from Lakeville, Massachusetts. He has worked on short films, short documentaries, feature documentaries, compositions for internet media, and participating in competitions for film, film scoring, and music competition.
                                <br /><br />
                                <a href="./about.html">Full Bio</a>
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="social-icons">
                        <span class="icon">
                            <a href="https://www.facebook.com/connor.ragas/" target="_blank"><img src="build/img/icons/facebook-logo-white.png" alt="Faceboook" /></a>
                        </span>
                        <span class="icon">
                            <a href="https://www.linkedin.com/in/connor-ragas-000a21126/" target="_blank"><img src="build/img/icons/linkedin-logo-white.png" alt="LinkedIn" /></a>
                        </span>
                        <span class="icon">
                            <a href="https://www.youtube.com/channel/UCcdpUYlgASnsbfY11B0AO5A" target="_blank"><img src="build/img/icons/youtube-logo-white.png" alt="YouTube" /></a>
                        </span>
                        <span class="icon">
                            <a href="https://soundcloud.com/connor-ragas/" target="_blank"><img src="build/img/icons/soundcloud-logo-white.png" alt="SoundCloud" /></a>
                        </span>
                        <span class="icon">
                            <a href="https://www.imdb.com/name/nm8885707/" target="_blank"><img src="build/img/icons/imdb-logo-white.png" alt="IMDB" /></a>
                        </span>
                    </div>
                </footer>
            </section>
        </div>
        <div class="remodal" data-remodal-id="modal">
            <button data-remodal-action="close" class="remodal-close"></button>
            <div class="content"></div>
        </div>
    </body>
</html>