$landing-bg: url(../img/landing-hero.jpg);
$landing-bg-landscape: url(../img/landing.jpg);

html {
    background-color: black;
}

.landing-hero {
    @include force-full;

    @include orientation((
            portrait: (
                background-image: $landing-bg
            ),
            landscape: (
                background-image: $landing-bg-landscape,
                background-position: center center
            )
        ))

    background-image: $landing-bg;
    background-attachment: fixed;
    background-size: cover;

    @include breakpoint($breakpoint-med, 'width', (
            min: (
                background-position: center center
            ),
            max: (
                background-position: center top
            )
        ))
}

.landing-header {
    @include container-centered;
    height: 3rem;

    @include breakpoint($breakpoint-med, 'width', (
            min: (
                padding-top: 40px
            ),
            max: (
                padding-top: 20px
            )
        ))

    .header-left {
        @include breakpoint($breakpoint-med, 'width', (
                min: (
                    float: left,
                    max-width: 50%
                ),
                max: (
                    max-width: 96%,
                    text-align: center,
                    margin-left: auto,
                    margin-right: auto
                )
            ))

        .cragas-logo {
            height: 3rem;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }

    .header-right {
        height: 100%;

        @include breakpoint($breakpoint-med, 'width', (
                min: (
                    float: right,
                    max-width: 50%
                ),
                max: (
                    max-width: 100%
                )
            ))

        .landing-nav {
            height: 100%;
            position: relative;

            @include respond-to($breakpoint-med - 1, 'max-width') {
                margin-top: 5%;
                text-align: center;
            }

            .nav-item {
                position: relative;
                display: inline-block;
                height: 100%;
                margin: 0 0.8rem;

                @include breakpoint($breakpoint-med, 'width', (
                        min: (
                            font-size: 1.5rem
                        ),
                        max: (
                            font-size: 1.1rem
                        )
                    ))

                a {
                    @include roboto-condensed;
                    color: white;
                    text-decoration: none;
                }

                a:hover {
                    border-bottom: 2px solid white;
                }
            }

            .dropdown-content {
                display: none;
                position: absolute;
                min-width: 160px;
                margin-left: -16px;
                background-color: $content-pane-rgba;
                z-index: 1;

                .dropdown-item {
                    @include roboto-condensed;
                    color: white;
                    text-align: left;
                    text-decoration: none;
                    padding: 12px 16px;
                    display: block;

                    @include breakpoint($breakpoint-med, 'width', (
                        min: (
                            font-size: 1.5rem
                        ),
                        max: (
                            font-size: 1.1rem
                        )
                    ))
                }
            }

            .dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
                display: block;
            }
        }
    }
}

footer {
    @include container-centered;

    position: absolute;
    left: 50%;
    bottom: 2%;
    display: inline-block;
    width: 90% !important;
    text-align: center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    .footer-left {
        @include breakpoint($breakpoint-med, 'width', (
                min: (
                    float: left,
                    width: 50%
                ),
                max: (
                    display: none
                )
            ))

        .works-thumbnails {
            width: 100%;
            min-width: 215px;
            max-width: 325px;
            margin: 0 auto;
            text-align: center;

            .thumbnail {
                display: inline-block;
                width: 215px;
                height: 150px;
                margin: 0 0.5%;
                cursor: pointer;
                opacity: 0.6;

                -webkit-transition: opacity 0.2s;
                transition: opacity 0.2s;

                .thumbnail-image {
                    width: 100%;
                    height: 60%;
                    background-image: linear-gradient(135deg,#e6846e,#846170);

                    img {
                        max-height: 60%;
                        width: auto;
                        margin-top: 10%;
                    }
                }

                .thumbnail-title {
                    @include roboto-condensed;
                    width: 100%;
                    height: 40%;
                    background-color: white;

                    p {
                        color: $content-pane-bg;
                    }

                    .title {
                        font-size: 1.2rem;
                    }

                    .subtitle {
                        font-size: 0.9rem;
                        font-weight: 300;
                    }
                }
            }

            .thumbnail:hover {
                opacity: 1;
            }
        }
    }

    .footer-right {
        @include breakpoint($breakpoint-med, 'width', (
                min: (
                    float: right,
                    max-width: 50%
                ),
                max: (
                    max-width: 100%,
                    text-align: center,
                    margin-left: auto,
                    margin-right: auto
                )
            ))

        .short-bio {
            width: 70%;
            margin-top: 10%;
            margin-left: 15%;
            opacity: 0.8;

            @include respond-to($breakpoint-x-small - 1, 'max-height') {
                display: none;
            }
            @include respond-to($breakpoint-x-small - 1, 'max-width') {
                font-size: 0.8rem;
            }
            @include breakpoint($breakpoint-small, 'width', (
                    min: (
                        margin-bottom: 100px
                    ),
                    max: (
                        font-size: 0.8rem,
                        margin-bottom: 50px
                    )
                ))
        }
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }


    .social-icons {
        height: 20px;

        .icon {
            height: 100%;
            margin: 0 1rem;
            opacity: 0.6;

            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;

            img {
                max-height: 100%;
            }
        }

        .icon:hover {
            opacity: 1;
        }
    }
}