@charset "utf-8";

@import 'abstracts/breakpoints';
@import 'abstracts/mixins';

@import 'base/typography';
@import 'base/reset';

@import 'components/palette';
@import 'components/template';

.headshot {
    text-align: center;
    margin-bottom: 30px;
}

p, label {
    font-size: 1.1rem;
    color: #BBB;
}

.content-left {
    .message {
        width: 100%;
        text-align: center;

        p {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.content-right > h2 {
    text-align: left;
    margin-bottom: 25px;
    margin-top: 0;
    margin-left: 0;
    color: $text-purple;
}

.content-right {
    form {
        text-align: left;
    }
}

.form-group {
    @include roboto-condensed;
    margin-bottom: 15px;

    @include breakpoint($breakpoint-med, 'width', (
            min: (
                width: 90%
            ),
            max: (
                width: 100%
            )
        ))

    .form-label {
        margin-bottom: 3px;
        cursor: pointer;
        display: block;
        color: #BBB;
    }

    input, textarea {
        border: 1px solid $text-purple;
        border-radius: 3px;
    }

    input[name*="name"], input[name*="email"], input[name*="subject"] {
        @include roboto-condensed;
        min-height: 1rem;
        padding: 1%;

        @include breakpoint($breakpoint-med, 'width', (
                min: (
                    width: 80%
                ),
                max: (
                    width: 80%
                )
            ))
    }

    textarea {
        @include roboto-condensed;
        resize: none;
        width: 98%;
        height: 10rem;
        padding: 1%;
    }

    button {
        @include roboto-condensed;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        background-color: $button-purple;
        color: white;
        padding: 6px 16px;
        font-size: 1rem;
        border: none;
        border-radius: 3px;
        box-shadow: none;
    }

    button:active {
        background-color: $text-purple-click;
    }
}